#root {
  max-width: 1920px;
  /* background: #9ec4c9; */
    background: linear-gradient(
    to right,
    #96BFC5 0%,
    #a3cfd5 100%
  );
  /* background: linear-gradient(90deg, #96BFC5 0rem, #FFF 90rem); */
  /* text-align: center; */
}
